@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");

* {
  padding: 0;
  margin: 0;
  font-family: "Cafe24SsurroundAir", sans-serif;
}

body,
html {
  overflow: hidden;
  height: 100%;
}

.App {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.main__container {
  margin: 0 auto;
  max-width: 390px;
  background: linear-gradient(180deg, #f1ebeb 0%, #f0e6ff 100%);
  background-image: url("./assets/images/BackgroundImage.png");
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 0;
}

/* 전체 스크롤바 스타일 */
::-webkit-scrollbar {
  width: 5px; /* 스크롤바 너비 */
  background-color: transparent; /* 스크롤바 배경 투명 */
}

/* 스크롤바의 슬라이더(thumb) 스타일 */
::-webkit-scrollbar-thumb {
  background-color: #607d8b50; /* 슬라이더 색상 반투명 */
  border-radius: 6px; /* 슬라이더 모서리 둥글게 */
}

/* 스크롤바의 트랙(track) 스타일 */
::-webkit-scrollbar-track {
  background-color: transparent; /* 트랙 배경 투명 */
}
